<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="head">
        <h1>Book's Place</h1>
        
    </div>
    <main>
        <h2>Adcione seu novo emprestimo</h2>
        <form  id="form" action="*">
            <label for="usuario">Id do Usuário
            </label>
            <input type="number" name="usuario" id="usuario">
            <label for="livro">Id do Livro</label>
            <input type="number" name="livro" id="livro">
            <label for="emprestimo">Data do empréstimo</label>
            <input type="date" name="emprestimo" id="emprestimo">
            <label for="devolucao">Data do devolução</label>
            <input type="date" name="devolucao" id="devolucao">
            
            <button>Enviar</button>
        </form>
    </main>

</body>
</html>
