<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="head">
        <h1>Book's Place</h1>
        <div class="menu">
            <button>
                Cadastrar livro
            </button>
            <button>
                Cadastrar usuário
            </button>
        </div>
        
    </div>
    <main>
       

        <h2>
            Livros cadastrados
        </h2>
        <form action="*">
            <br><br>
            <label for="buscar">Buscar livro</label>
            <input type="text" id="buscar" name="buscar" placeholder="🔍">
        </form>
        <div class="livros">
            <div>
                <p>Título: {titulo}</p>
                <p>Autor: {autor}</p>
                <p>Ano: {ano}</p>
                <p>Estado: {disponibilidade}</p>
                <bUtton>Realizar empréstimo</bUtton>
            </div>
        </div>
        <div class="livros">
            <div>
                <p>Título: {titulo}</p>
                <p>Autor: {autor}</p>
                <p>Ano: {ano}</p>
                <p>Estado: {disponibilidade}</p>
                <bUtton>Realizar empréstimo</bUtton>
            </div>
        </div>
    </main>
</body>
</html>
