<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="head">
        <h1>AltGestão</h1>
        <div class="desHead">
         <p>Bem vindo ao sistema de tarefas perfeito para você!</p>
        </div>
    </div>

    <div class="addTarefa">
        <h2>Adicione sua nova tarefa</h2>
        <form action="*">
            <label for="desc">Descrição:</label>
            <input type="text" id="desc" name="desc"><br>
            <label for="prioridade">Prioridade:</label>
            <input type="text" id="prioridade" name="prioridade"><br>
            <label for="status">Status:</label>
            <select name="status" id="status">
                <option value="concluida">Concluída</option>
                <option value="andamento">Em andamento</option>
            </select><br><br>
            <button>Enviar</button>

        </form>
    </div>
</body>
</html>