<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="head">
        <h1>AltGestão</h1>
        <div class="desHead">
         <p>Bem vindo ao sistema de tarefas perfeito para você!</p>
        </div>
    </div>
    <main>
        <div class="buttonTarefa">
            <form action="*">
                <a href="index.html"><button>Adcionar tarefa</button></a>
            </form>
        </div>
        <h1 style="margin-left: 46%;margin-bottom: 3%;">Suas tarefas</h1>
       <div class="list">
        <div class="Tarefa">
            <div>
                <h5>ID: 1</h5>
                <h5>Descrição: Fazer a tividade</h5>
                <h5>Status: Concluída</h5>
                <form action="*">
                    <button>Excluir</button>
                </form>
            </div>
            
        </div>
        <div class="Tarefa">
            <div>
                <h5>ID: 1</h5>
                <h5>Descrição: Fazer a tividade</h5>
                <h5>Status: Concluída</h5>
                <form action="*">
                    <button>Excluir</button>
                </form>
            </div>
            
        </div>
        <div class="Tarefa">
            <div>
                <h5>ID: 1</h5>
                <h5>Descrição: Fazer a tividade</h5>
                <h5>Status: Concluída</h5>
                <form action="*">
                    <button>Excluir</button>
                </form>
            </div>
            
        </div>
        <div class="Tarefa">
            <div>
                <h5>ID: 1</h5>
                <h5>Descrição: Fazer a tividade</h5>
                <h5>Status: Concluída</h5>
                <form action="*">
                    <button>Excluir</button>
                </form>
            </div>
            
        </div>
        
        <div class="Tarefa">
            <div>
                <h5>ID: 1</h5>
                <h5>Descrição: Fazer a tividade</h5>
                <h5>Status: Concluída</h5>
                <form action="*">
                    <button>Excluir</button>
                </form>
            </div>
            
        </div>
        <div class="Tarefa">
            <div>
                <h5>ID: 1</h5>
                <h5>Descrição: Fazer a tividade</h5>
                <h5>Status: Concluída</h5>
                <form action="*">
                    <button>Excluir</button>
                </form>
            </div>
            
        </div>
        <div class="Tarefa">
            <div>
                <h5>ID: 1</h5>
                <h5>Descrição: Fazer a tividade</h5>
                <h5>Status: Concluída</h5>
                <form action="*">
                    <button>Excluir</button>
                </form>
            </div>
            
        </div>
        <div class="Tarefa">
            <div>
                <h5>ID: 1</h5>
                <h5>Descrição: Fazer a tividade</h5>
                <h5>Status: Concluída</h5>
                <form action="*">
                    <button>Excluir</button>
                </form>
            </div>
            
        </div>
        <div class="Tarefa">
            <div>
                <h5>ID: 1</h5>
                <h5>Descrição: Fazer a tividade</h5>
                <h5>Status: Concluída</h5>
                <form action="*">
                    <button>Excluir</button>
                </form>
            </div>
            
        </div>
        <div class="Tarefa">
            <div>
                <h5>ID: 1</h5>
                <h5>Descrição: Fazer a tividade</h5>
                <h5>Status: Concluída</h5>
                <form action="*">
                    <button>Excluir</button>
                </form>
            </div>
            
        </div>
        <div class="Tarefa">
            <div>
                <h5>ID: 1</h5>
                <h5>Descrição: Fazer a tividade</h5>
                <h5>Status: Concluída</h5>
                <form action="*">
                    <button>Excluir</button>
                </form>
            </div>
            
        </div>
       </div>
    </main>
</body>
</html>
<!--<table>-->
<!--<tr>-->
<!--<th>ID</th>-->
<!--<th>Descrição</th>-->
<!--<th>Status</th>-->
<!--</tr>-->

<!--<tr>-->
<!--<td>1</td>-->
<!--<td>Fazer a atividade</td>-->
<!--<td>Concluída</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>2</td>-->
<!--<td>Fazer a atividade</td>-->
<!--<td>Concluída</td>-->
<!--</tr>-->
<!--</table>-->