*{
    margin: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.head{
    width: 100%;
    height: 100px;
    background-color: crimson;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 3%;
    color: white;
}

.desHead{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: brown;
}



.list{
    width: 90%;
    margin-left: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.Tarefa{
    max-width: 200px;
    background-color: brown;
    height: 100px;
    margin: 25px;
}

.Tarefa div{
    min-width: 200px;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: space-between;
   
}

.Tarefa button{
   
    color: brown;
    padding: 3px;
    background-color: white;
    width: 60%;
    margin: 10px 10% 10px 20%;
    font-weight: bolder;
}

.buttonTarefa button{
    width: 100px;
    height: 50px;
    background-color: white;
    border: 3px solid brown;
    margin-left: 3%;
    color: brown;
    font-weight: bolder;
}

.addTarefa{
    width: 30%;
    margin-left: 35%;
    background-color: brown;
    display: flex;
    flex-direction: column;
    height: 70vh;
    align-items: center;
    color: white;
    justify-content: space-around;
    
}
.addTarefa form{
    background-color: brown;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.addTarefa input,label,select,button{
    width: 90%;
    height: 30px;
    margin-left: 5%;
}

.addTarefa form button{
    
    background-color: white;
    border: 2px solid brown;
    color: brown;
    font-weight: bolder;
}

.addTarefa form button:hover, button:hover{
    background-color: brown;
    color: white;
}